* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../../public/background-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a, button {
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}